@import "tailwindcss";

@theme {
  --color-shamrock-400: #f472b6;
  --color-celadon-400: #ec4899;
}

@layer components {
  .a-nav-hover {
    @apply hover:text-pink-400 transition-colors duration-200;
  }
}

.project {
  @apply bg-pink-100/70 backdrop-blur-md rounded-2xl shadow-md p-4 flex flex-col gap-2 w-72;
}

.project img {
  @apply w-full h-48 object-cover rounded-xl;
}

.projects {
  @apply items-stretch;
}

.title-project {
  @apply hover:text-pink-500 transition-colors duration-200;
}

.mobile-menu {
  @apply flex flex-col gap-2 px-10 py-5 text-xl font-semibold fixed top-0 right-0 
         bg-zinc-50 shadow-lg transition-transform duration-300 z-99;
  height: 100vh;
  width: 16rem;
  transform: translateX(100%);
}

.mobile-menu.open {
  @apply visible;
  transform: translateX(0);
}

.overflow-x-hidden {
  overflow-x: hidden;
}
